<%- include("partials/header.ejs") %>
<h1>WELCOME !!</h1><br>
<p>
    Log in or sign in<br><br>
    To access my portfolio and explore my diverse range of projects and experiences.
</p>


<%- include("partials/footer.ejs") %>